@import '../../assets/global-styles/fonts.scss';
@import '../../assets/global-styles/responsiveness.scss';

:global {
	.auth-bg {
    background-image: url('../../assets/images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .main-container {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
  }

  .page-title {
    font-family: $sfpro-thin;
    font-size: 30px;
    color: #4a4a4a;
    padding-top: 21.3vh;
    font-weight: 100;
  }

  .auth-form {
    margin-top: 50px;
  }

  form {
    max-width: 388px;
    margin: 0 auto;
  }

  .form-title {
    font-size: 20px;
    font-family: $sfpro-regular;
    color: #4a4a4a;
    margin-bottom: 24px;
  }

  .form-input {
    width: 100%;
    max-width: 388px;
    font-size: 14px;
    padding: 20px 0;
    box-shadow: 0 0 4px 0 rgba(213, 213, 213, 0.5);
    background-color: #f8f8f8;
    border: solid 0.5px #979797;
    border-radius: 5px;
    margin-bottom: 16px;
    font-family: $sfpro-light;
    color: #4a4a4a;
    outline: none;
    text-indent: 15px;
  }

  .submit-btn {
    width: 100%;
    font-family: $sfpro-regular;
    max-width: 388px;
    font-size: 20px;
    padding: 11.5px 0;
    letter-spacing: 0.1px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #3588fe;
    box-shadow: 0 0 4px 0 rgba(166, 166, 166, 0.5);
    cursor: pointer;
    outline: none;

    &:hover, &:disabled {
      background-color: #4995ff;
    }
  }

  .auth-texts {
    font-family: $sfpro-light;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.11px;
    color: #1a7aff;
    margin-top: 15px;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  @include md {
    .main-container {
      width: 100%;
    }
  }
}